<html wtx-context="1EACC155-A2AC-4FA0-854A-5D2E5BE40296"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"></head><body>{% extends "base.html" %}
{% block title %}Assignment List{% endblock %}
{% block content %}
<h1>Assignment List</h1>
<p><a href="https://www.pythonanywhere.com/user/AishaIS668Patrick/files/home/AishaIS668Patrick/mysite/templates/%7B%7B%20url_for('assignment_create')%20%7D%7D">Create a new assignment</a></p>

        {%- for assignment in assignments %}
        
        {%- endfor %}
    <table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Public?</th>
            <th>Points</th>
            <th>Due Date</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody><tr>
            <td><a href="https://www.pythonanywhere.com/user/AishaIS668Patrick/files/home/AishaIS668Patrick/mysite/templates/%7B%7B%20url_for('assignment_view',%20assignment_pk=assignment.pk)%20%7D%7D">{{ assignment.name }}</a></td>
            <td>{{ 'Yes' if assignment.is_public else 'No' }}</td>
            <td class="points">{{ assignment.points }}</td>
            <td>{{ assignment.due_date }}</td>
            <td>{{ assignment.description }}</td>
        </tr></tbody>
</table>
{% endblock %}</body></html>