<html wtx-context="0A4EF67B-A601-4C9D-827C-97590CF49296"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"></head><body>{% extends "base.html" %}
{% block title %}Delete Assignment: {{ assignment.name }}{% endblock %}
{% block content %}
<h1>Delete Assignment: {{ assignment.name }}</h1>
<form action="{{ url_for('delete_assignment', assignment_pk=assignment.pk) }}" method="post" accept-charset="utf-8" wtx-context="C56CA8E5-CECF-4D76-950F-0C9AAE8CE3A6">
    <p>Do you really want to delete the assighment “{{ assignment.name }}”, and all associated grades?</p>
    <p><input type="submit" value="Yes, delete it." wtx-context="954A6A26-84C0-4A51-8362-367EEF1BE26D"> <a href="https://www.pythonanywhere.com/user/AishaIS668Patrick/files/home/AishaIS668Patrick/mysite/templates/%7B%7B%20url_for('assignment_view',%20assignment_pk=assignment.pk)%20%7D%7D">No, take me back to this assignment’s page.</a></p>
</form>
{% endblock %}</body></html>