<html wtx-context="7C2D2BDA-365D-45CD-83A9-674E7754E8F4"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"></head><body>{% extends "main_page.html" %}
{% block title %}Delete Student: {{ student.full_name }}{% endblock %}
{% block content %}
<h1>Delete Student: {{ student.full_name }}</h1>
<form action="{{ url_for('delete_student', student_pk=student.pk) }}" method="post" accept-charset="utf-8" wtx-context="491B0518-E0E9-4586-8E81-4526873C0EC6">
    <p>Do you really want to delete the student {{ student.full_name }}, and all associated grades?</p>
    <p><input type="submit" value="Yes (Delete)" wtx-context="4BF23094-1B39-4058-9841-161B74079C7F"> <a href="https://www.pythonanywhere.com/user/AishaIS668Patrick/files/home/AishaIS668Patrick/mysite/templates/%7B%7B%20url_for('student_view',%20student_pk=student.pk)%20%7D%7D">No, take me back to this student’s page.</a></p>
</form>
{% endblock %}</body></html>