<html wtx-context="35D145F9-4E0A-4041-8952-CDED837AC12A"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"></head><body>{% extends "base.html" %}
{% block title %}Student List{% endblock %}
{% block content %}
<h1>Student List</h1>
<p><a href="https://www.pythonanywhere.com/user/AishaIS668Patrick/files/home/AishaIS668Patrick/mysite/templates/%7B%7B%20url_for('add_student')%20%7D%7D">Create a new student</a></p>

        {%- for student in students %}
        
        {%- endfor %}
    <table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Student ID</th>
            <th>Major (Concentration)</th>
            <th>Email Address</th>
        </tr>
    </thead>
    <tbody><tr>
            <td><a href="https://www.pythonanywhere.com/user/AishaIS668Patrick/files/home/AishaIS668Patrick/mysite/templates/%7B%7B%20url_for('student_view',%20student_pk=student.pk)%20%7D%7D">{{ student.full_name }}</a></td>
            <td>{{ student.student_id }}</td>
            <td>{{ student.student_major }}</td>
            <td><a href="mailto:{{ student.email }}">{{ student.email }}</a></td>
        </tr></tbody>
</table>
{% endblock %}</body></html>