<html wtx-context="14DFA3F8-0BE3-4FC7-8316-3B4C3023D47F"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"></head><body>{% extends "base.html" %}
{% block title %}Update Student: {{ student.full_name }}{% endblock %}
{% block content %}
<h1>Update Student: {{ student.full_name }}</h1>
<p>Here you can update this students records. Or if you would like, you could <a href="https://www.pythonanywhere.com/user/AishaIS668Patrick/files/home/AishaIS668Patrick/mysite/templates/%7B%7B%20url_for('.delete_student',%20student_id=student.student_id)%20%7D%7D">delete this student</a> instead.</p>
<form action="{{ url_for('update_student', student_pk=student.pk) }}" method="post" accept-charset="utf-8" wtx-context="CA2D3444-228A-4DFB-9AFB-CE88565ACE30">
    <p><label>First name: <input type="text" name="first_name" value="{{ student.first_name }}" autofocus="" required="" wtx-context="74E8427E-AC85-4085-B2A6-8094BFBB2F97"></label></p>
    <p><label>Last name: <input type="text" name="last_name" value="{{ student.last_name }}" required="" wtx-context="84BEF692-AD5A-4837-B87A-B4A51F8876EF"></label></p>
    <p><label>Student ID: <input type="text" name="student_id" value="{{ student.student_id }}" wtx-context="8F5EBEED-93B9-4F51-8104-2FC9861F9F44"></label></p>
    <p><label>Major (Concentration): <input type="text" name="student_major" value="{{ student.student_major }}" wtx-context="E1D7031B-80C3-4DA7-8B45-38945EDC47A9"></label></p>
    <p><label>Email Address: <input type="email" name="email" value="{{ student.email }}" wtx-context="A674DEAF-EB0C-4CD6-95EF-33114ADE006E"></label></p>
    <p><input type="submit" name="update" value="Save" wtx-context="43EBD594-50C2-4DC4-86A0-63C3786A6B06"></p>
</form>
{% endblock %}</body></html>