<html wtx-context="24C49C9D-9C60-4FEA-B1E1-7DB4E3C6E11C"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"></head><body>{% extends "base.html" %}
{% block title %}Update Grades for {{ assignment.name }}{% endblock %}
{% block content %}
<h1>Update Grades for {{ assignment.name }}</h1>
<form action="{{ url_for('update_grade', assignment_pk=assignment.pk) }}" method="post" accept-charset="utf-8" wtx-context="CF803BD2-07BE-4FF2-AB78-88CE41FC33FD">
    
            {%- for student in students %}
            
            {%- endfor %}
        <table>
        <thead>
            <tr>
                <th>Student</th>
                <th>Points</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody><tr>
                <td><a href="https://www.pythonanywhere.com/user/AishaIS668Patrick/files/home/AishaIS668Patrick/mysite/templates/%7B%7B%20url_for('student_view',%20student_pk=student.pk)%20%7D%7D">{{ student.full_name }}</a></td>
                <td><input class="points" type="text" name="student_{{ student.pk }}_points" value="{{ student.grade.points }}" wtx-context="A8CDEAFE-92A1-4B42-87C7-E26A15290AE1"></td>
                <td><textarea name="student_{{ student.pk }}_comment">{{ student.grade.comment }}</textarea>
            </td></tr></tbody>
    </table>
    <p><input type="submit" value="Save grades" wtx-context="76C6D045-6BC9-451B-8D94-CAADACD53664"></p>
</form>
{% endblock %}</body></html>