header {font-size:30px; border: 2px solid black; outline: #4CAF50 solid 10px; text-align: center;}
p {color: Tomato; font-size:20px; margin: auto; text-align: center;}
table, th, td {padding: 10px;}
