<html wtx-context="B2BBAB84-6165-43D4-B8FC-6028C0F381F1"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"></head><body>{% extends "main_page.html" %}
{% block title %}Add a Student{% endblock %}
{% block content %}
<h1 align="center">Add Student</h1>
<br>
<form action="{{ url_for('add_student') }}" method="post" accept-charset="utf-8" wtx-context="DFE2244C-A85E-47D9-B201-3E57D371E1DA">
    <p><label>Student ID: <input type="text" name="id" autofocus="" required="" wtx-context="B7E23A65-AA54-4319-93DB-693116AC2C72"></label></p>
    <p><label>First name: <input type="text" name="first_name" autofocus="" required="" wtx-context="E1209B92-ED59-4EF5-BE21-4F562358722C"></label></p>
    <p><label>Last name: <input type="text" name="last_name" required="" wtx-context="CA0A11F5-454B-4FA9-81B9-07BA60572F64"></label></p>
    <p><label>Student Major: <input type="text" name="student_major" wtx-context="36668D9E-9EA2-4081-AA32-11F8FB69F172"></label></p>
    <p><label>Email Address: <input type="email" name="email" wtx-context="5F7D1D39-2055-42DC-8A68-69C636A1648E"></label></p>
    <br>
    <p>
        <input type="submit" name="create" value="Add student" wtx-context="1CE57B7B-9506-481C-918E-5FB51703839C">
        <input type="submit" name="create_and_add" value="Add student and add another…" wtx-context="267C58CD-3FFF-4842-ADB8-EA7E18FA6FBC">
    </p>
</form>
{% endblock %}</body></html>