<html wtx-context="D6A6F447-CD4A-4772-8AA9-61B7184E1127"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"></head><body>{% extends "main_page.html" %}
{% block title %}The Gradebook{% endblock %}
{% block content %}
<h1 align="center">{%- for class_name in users %}
            {{ users.class_name }}
            {%- endfor %}
</h1>

            {%- for assignment in assignment %}
            
            {%- endfor %}
        
            {%- for assignment in assignment %}
            
            {%- endfor %}
        
        {%- for student in student %}
        
            {%- for grade in student.grades %}
            
            {%- endfor %}
        
        {%- endfor %}
    <table align="center">
    <thead>
        <tr>
            <th>Student</th><th>{{ assignment.name }}</th></tr>
    </thead>
    <tbody>
        <tr>
            <td><em>Best Possible</em></td><td class="points"><em>{{ assignment.points }}</em></td></tr><tr>
            <td>{{ student.full_name }}</td><td class="points">{{ grade.points }}</td></tr></tbody>
</table>
<h2 align="center">Instructor Comments</h2>
    {%- for assignment_id in grade %}
    {%- if grade.comment %}
        <h3 id="HW{{ grade.assignment_id }}">{{ grade.assignment_id }}</h3>
    {{ grade.comment | safe }}
    {%- endif %}
    {%- endfor %}



{% endblock %}</body></html>