<html wtx-context="71F40169-173F-4E56-82B5-39FE266D7EAD"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"></head><body>{% extends "main_page.html" %}
{% block title %}The Gradebook{% endblock %}
{% block content %}
<h1 align="center">Login Page</h1>
    <div class="container">
        <div class="row">
            {% if error %}
                <div class="alert alert-warning" role="alert">
                    Incorrect username or password
                </div>
            {% endif %}
            <form action="." method="POST" wtx-context="1DA89D6A-127A-43E0-8955-B51316393079">
                <div class="form-group">
                <label for="username">Username:</label>
                <input class="form-control" id="username" name="username" placeholder="Enter your username" wtx-context="E635C0B0-DB2E-4EE5-8010-E4B783A99DCF">
                </div>
                <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" wtx-context="5ACD08A7-FF15-440E-8C35-05D0FAC9BC2C">
                </div>
                <button type="submit" class="btn btn-success">Log in</button>
            </form>
        </div>
    </div>
{% endblock %}</body></html>