<html wtx-context="0B214AF4-78DA-4A7C-951B-845F1BEDCA28"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"></head><body>{% extends "main_page.html" %}
{% block title %}Student Info/Management{% endblock %}
{% block content %}
<p><a href="https://www.pythonanywhere.com/user/AishaIS668Patrick/files/home/AishaIS668Patrick/mysite/templates/%7B%7B%20url_for('add_student')%20%7D%7D">Add a new student</a></p>
<br>

        {%- for student in students %}
        
        {%- endfor %}
    <table align="center">
    <thead>
        <tr>
            <th>Name</th>
            <th>Student ID</th>
            <th>Major</th>
            <th>Email Address</th>
            <th>Delete?</th>
        </tr>
    </thead>
    <tbody><tr>
            <td>{{ student.full_name }}</td>
            <td>{{ student.id }}</td>
            <td>{{ student.student_major }}</td>
            <td><a href="mailto:{{ student.email }}">{{ student.email }}</a></td>
            <td><form method="POST" action="./delete" wtx-context="5353AEA4-28F8-4B79-85B9-88E6FCB89850">
                <input type="hidden" value="{{student.id}}" name="id" wtx-context="2CDEF443-CD86-4760-805C-C73D20698D05">
                <input type="submit" value="Delete" wtx-context="2BA2123E-E21E-4722-8B2B-C79C951864E8">
            </form></td>
        </tr></tbody>
</table>
{% endblock %}</body></html>